* {
    box-sizing: border-box;
}

#main-container {
    display: flex;
    overflow: hidden;

    overflow-x: auto;
}

#schedule-container {
    height: 100%;
    width: 100%;

    overflow: hidden;

    display: grid;
    grid-template: 2rem 1fr / 3rem repeat(5, 1fr);
}

#schedule-subcontainer {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    grid-row: 2/3;
    grid-column: 1/7;

    display: grid;
    /* 14 hours, times 12 slots per hour */
    grid-template-columns: auto repeat(5, 1fr);
}

.hour-indicator {
    height: 0;
    margin: 0 0 0 3px;
    padding-right: 1px;
}

.day-indicator {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.day-schedule{
    display: grid;
    grid-template-rows: repeat(168, 1fr);
    grid-row: 1/168;
    height: 100%;
}

.day-schedule:nth-child(odd) {
    background-color: grey;
}

.day-schedule:nth-child(even) {
    background-color: darkgrey;
}

.visible {
    visibility: visible !important;
}

.class_slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-wrap: break-word;
    border-radius: 5px;
    margin: 5px;
}

.class_slot:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px grey;
}

.class_slot h1 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin: 0.1rem;
}

.class_slot h2 {
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin: 0.1rem;
    font-weight: normal;
}

#class-descriptions {
    display: flex;
    width: 0;
    visibility: collapse;
    transition: width 0.3s linear;
    flex-shrink: 0;
}

#class-descriptions.visible {
    width: 30%;
}

.class-description {
    visibility: collapse;
    width: 30vw;
    height: 100%;
    background-color: grey;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.button:hover {
    cursor: pointer;
}

.remove-class-button {
    background-color: darkred;
    font-size: 2rem;
    padding: 0.8rem;
    border-radius: 15px;
    text-transform: capitalize;
}

.class-description h2 {
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

.class-description h3 {
  margin: 2px;
}

.class-description h4:first-of-type{
    margin-top: auto;
}

.class-description h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.class-description h5 {
    margin: 0.5rem;
}


/* Inline #3 | http://127.0.0.1:5000/ */

.close-description-button {
    position: fixed;
    margin: 5px;
    padding: 5px;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
}
