#schedule-container {
    height: 100%;
    width: 100%;

    grid-row: 2/3;

    display: grid;
    /* 14 hours, times 12 slots per hour */
    grid-template: 1rem repeat(168, 1fr) / 1rem repeat(5, 1fr);
}

.class_description {
    visibility: collapse;
}