html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;

    display: grid;
    grid-template-rows: 4rem 1fr;
}

#navbar {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
}

.nav_item {
    font-size: 2rem;

    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    background-color: grey;
    border-radius: 10px;
    margin: 0.25rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}