{% extends 'base.html' %}
{% block title %}Schedule Viewer{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/schedule.css") }}" type="text/css">
<style>
{% for class in classes %}
    .class_slot[class_number="{{ class.class_number }}"] {
     background-color: {{ rand_color() }}
    }
{% endfor %}
</style>
{% endblock %}
{% block content %}
<div id="schedule-container">
{% for class in classes %}
{% for timeslot in class.get_timeslots() %}
<div class="class_slot" class_number="{{ class.class_number }}" style="grid-column: {{ timeslot["day"] }} / {{ timeslot["day"] + 1 }}; grid-row: {{ timeslot["start_time"] }} / {{ timeslot["end_time"] }}">
    <h1>{{ class.course.code }}</h1>
    <h2>{{ class.course.hours }}</h2>
    <h2>{{ class.room }}</h2>
</div>
{% endfor %}
{% endfor %}
<div id="class-descriptions">
{% for class in classes %}
<div class="class_description" class_number="{{ class.class_number }}">
    {{ class.course.code }} - {{ class.class_section }}
    {{ class.course.description }}
    {{ class.course.attrs }}
    {{ class.class_number }}
    {{ class.available_seats }} / {{ class.total_seats }}
</div>
{% endfor %}
</div>
</div>
{% endblock %}